<h2>The Bell</h2>

<p>The bell ringing season starts each November and runs through Christmas Eve, when the red kettles are packed away for the season. Volunteers are the difference between an empty kettle and one that raises about $30 per hour – enough to provide a family with two bags of groceries, or shelter an individual for a night</p>

<p>Click<a href="http://salvationarmynorth.org/2016/12/heres-how-your-kettle-donations-add-up/"> here </a>to learn more about the Salvation Army and their Red Kettle Project.</p>
