<h3>Welcome to Plateau Outreach Ministries Salvation Army Signup</h3>
<h4>Click on a date to signup to ring the Salvation Army Bell</h4>
<h5><em>No more than two volunteers per day</em></h5>

<%= month_calendar do |date| %>
  <%= date %>
<% end %>
