
<form action="/volunteer" method="post" class= "form-group">
  <label for="name">Full Name</label>
  <input id="name" type="text" name="name" required class="form-control"><br>
  <label for="date" class="date">Date</label>
  <input class="form-control" name="date" minDate="2017-10-20" maxDate="2017-12-31"type="date" id="date" required><br>
  <button type="submit" class="btn">Add</button>
</form>
