<form action="/volunteer" method="post" class= "form-group">
  <label for="name">Full Name</label>
  <input id="name" type="text" name="name" class="form-control"><br>
  <label for="date" class="date">Date</label>
  <input class="form-control" name="date" type="date" id="date"><br>
  <button type="submit" class="btn">Add</button>
</form>


<h3>Volunteers:</h3>
<% if @volunteers.any? %>
  <% @volunteers.each do |volunteer| %>
    <ul>
      <li>
        Volunteer: <a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a>
        <p>Date: <%=volunteer.date%> </p>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>There are no volunteers yet.</p>
<% end %>
