<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/styles.css" type=text/css>
    <title>Salvation Army Signup</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1>Salvation Army <bd></bdi>Signup</h1>
      <h2>Plateau Outreach Ministries</h2>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
