<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/styles.css" type=text/css>
    <title>Salvation Army Signup</title>
  </head>
  <body>
    <div class="jumbotron">
      <center><h2>Welcome to Plateau Outreach Ministries Salvation Army Signup</h2>
      <h3>Click on a date to signup to ring the Salvation Army Bell</h3>
      <h5><em>No more than two volunteers per day</em></h5></center>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
