<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" href="../css/styles.css" type=text/css>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <title>Salvation Army Signup</title>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container inline">
        <div class="navbar">
          <a href="/about" class="bar">About</a>
          <a href="/volunteers" class="bar">Volunteers</a>
          <a href="/" class="bar">Home</a>
        </div>
        <h2>Salvation Army Bell</h2>
        <h3>Plateau Outreach Ministries</h3>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
