.jumbotron {
  height: 160px;
  background-color: rgba(238, 238, 238, 0.43);
}

.navbar {
  float: right;
  margin-top: 7%;
}

.bar{
  color: black;
  margin: 5px;
  font-size: 14px;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  background-image: url("../img/sideXmas.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  color: red;
}
